*Ingestando fichero CSV y realizando las primeras transformaciones*

Vamos a realizar una ingesta de un fichero CSV. Para ello, en la carpeta assets, veremos un fichero 01-datos.csv

1 - Abriremos el csv y crearemos un dataframe con Pandas

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,target-coin,TGT,Target Coin,29-09-2017,607,0.028961,0.054766,0.028961,0.041777,69996,0.0,0.4966,0.03
1,target-coin,TGT,Target Coin,30-09-2017,607,0.041783,0.046196,0.031435,0.031744,5725,0.0,0.0209,0.01
2,target-coin,TGT,Target Coin,01-10-2017,607,0.031761,0.035957,0.021040,0.028385,5012,0.0,0.4924,0.01
3,target-coin,TGT,Target Coin,02-10-2017,607,0.028375,0.054595,0.020417,0.022525,8010,0.0,0.0617,0.03
4,target-coin,TGT,Target Coin,03-10-2017,607,0.022527,0.032225,0.020211,0.020359,1787,0.0,0.0123,0.01

2 - Comprobaremos qué datos tenemos en el csv

,slug,asset,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,target-coin,TGT,Target Coin,29-09-2017,607,0.028961,0.054766,0.028961,0.041777,69996,0.0,0.4966,0.03
1,target-coin,TGT,Target Coin,30-09-2017,607,0.041783,0.046196,0.031435,0.031744,5725,0.0,0.0209,0.01
2,target-coin,TGT,Target Coin,01-10-2017,607,0.031761,0.035957,0.021040,0.028385,5012,0.0,0.4924,0.01
3,target-coin,TGT,Target Coin,02-10-2017,607,0.028375,0.054595,0.020417,0.022525,8010,0.0,0.0617,0.03
4,target-coin,TGT,Target Coin,03-10-2017,607,0.022527,0.032225,0.020211,0.020359,1787,0.0,0.0123,0.01

3 - Recuperaremos solo los datos de Bitcoin (BTC) y Ripple (XRP)

,asset,name,date,open,high,low,close
878,BTC,Bitcoin,28-04-2013,135.300000,135.980000,132.100000,134.210000
879,BTC,Bitcoin,29-04-2013,134.440000,147.490000,134.000000,144.540000
880,BTC,Bitcoin,30-04-2013,144.000000,146.930000,134.050000,139.000000
881,BTC,Bitcoin,01-05-2013,139.000000,139.890000,107.720000,116.990000
882,BTC,Bitcoin,02-05-2013,116.380000,125.600000,92.280000,105.210000
...,...,...,...,...,...,...,...
1474,XRP,Ripple,15-01-2014,0.021182,0.022394,0.021122,0.022221
1475,XRP,Ripple,16-01-2014,0.022205,0.022343,0.021024,0.021024
1476,XRP,Ripple,17-01-2014,0.020990,0.021148,0.020098,0.020530
1477,XRP,Ripple,18-01-2014,0.020559,0.021374,0.020559,0.021278
1478,XRP,Ripple,19-01-2014,0.021314,0.021420,0.020333,0.020875

4 - Calcularemos la media de apertura, cierre, valor más elevado y valor más bajo
OHLC Average = (Open + High + Low + Close) / 4

    asset     name        date    open    high     low   close  ohlc_average
878   BTC  Bitcoin  28-04-2013  135.30  135.98  132.10  134.21      134.3975
879   BTC  Bitcoin  29-04-2013  134.44  147.49  134.00  144.54      140.1175
880   BTC  Bitcoin  30-04-2013  144.00  146.93  134.05  139.00      140.9950
881   BTC  Bitcoin  01-05-2013  139.00  139.89  107.72  116.99      125.9000
882   BTC  Bitcoin  02-05-2013  116.38  125.60   92.28  105.21      109.8675

5 - Jugar con los datos e ir probando funciones de pandas