*Procesamiento de JSON*

En este ejercicio procederemos a ingestar datos de json, transformarlos, y cruzarlos con informaciÃ³n de un csv

1 - Ingesta de fichero de 02-bank_market_cap_1.json

In [14]:
import pandas as pd

bank_market = pd.read_json('assets/02-bank_market_cap_1.json')
bank_market.append(pd.read_csv('assets/02-bank_market_cap_2.json'), ignore_index=True)
bank_market.head()

C:\Users\adema\AppData\Local\Temp\ipykernel_28584\870989569.py:4: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only.
  pd.concat(bank_market, pd.read_csv('assets/02-bank_market_cap_2.json'), ignore_index=True)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

2 - Ingestamos fichero 02-echange_rates.csv y cruzamos con dataframe

In [3]:
exchange_rates = pd.read_csv('assets/02-exchange_rates.csv')
exchange_rates.head()

  Unnamed: 0     Rates
0        AUD  1.297088
1        BGN  1.608653
2        BRL  5.409196
3        CAD  1.271426
4        CHF  0.886083

In [10]:
rate = exchange_rates.loc[exchange_rates['Unnamed: 0'] == 'GBP']
rate.head()

  Unnamed: 0     Rates
9        GBP  0.732398

In [11]:
x_rate = float(rate['Rates'])
bank_market['Market Cap (GBP$ Billion)'] = round(bank_market['Market Cap (US$ Billion)']*x_rate)
bank_market

,Name,Market Cap (US$ Billion),Market Cap (GBP$ Billion)
0,JPMorgan Chase,390.934,286.0
1,Industrial and Commercial Bank of China,345.214,253.0
2,Bank of America,325.331,238.0
3,Wells Fargo,308.013,226.0
4,China Construction Bank,257.399,189.0
...,...,...,...
65,Ping An Bank,37.993,28.0
66,Standard Chartered,37.319,27.0
67,United Overseas Bank,35.128,26.0
68,QNB Group,33.560,25.0
69,Bank Rakyat,33.081,24.0