*Ingestando y tratando ficheros XML*

Vamos a unir la información de 3 XML y vamos a realizar procedimientos básicos

1 - Abrir los ficheros para saber qué columnas tienen los XML. Recuperar y unir los ficheros que empiezan con el prefijo "03"

simon 67.9 112.37
jacob 66.78 120.67
cindy 66.49 127.45
ivan 67.62 114.14
simon 67.9 112.37
jacob 66.78 120.67
cindy 66.49 127.45
ivan 67.62 114.14
simon 67.9 112.37
jacob 66.78 120.67
cindy 66.49 127.45
ivan 67.62 114.14

C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extraer_de_xml('assets/03-source1.xml'), ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extraer_de_xml('assets/03-source2.xml'), ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dataframe = dataframe.append({"nombre": nombre, "altura": altura, "peso": peso}, ignore_index=True)
C:\Users\adema\AppData\Local\Temp\ipykernel_34640\3646780187.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(extraer_de_xml('assets/03-source3.xml'), ignore_index=True)

         0 nombre  altura    peso
0   nombre    NaN     NaN     NaN
1   altura    NaN     NaN     NaN
2     peso    NaN     NaN     NaN
3   nombre    NaN     NaN     NaN
4   altura    NaN     NaN     NaN
5     peso    NaN     NaN     NaN
6      NaN  simon   67.90  112.37
7      NaN  jacob   66.78  120.67
8      NaN  cindy   66.49  127.45
9      NaN   ivan   67.62  114.14
10  nombre    NaN     NaN     NaN
11  altura    NaN     NaN     NaN
12    peso    NaN     NaN     NaN
13     NaN  simon   67.90  112.37
14     NaN  jacob   66.78  120.67
15     NaN  cindy   66.49  127.45
16     NaN   ivan   67.62  114.14
17  nombre    NaN     NaN     NaN
18  altura    NaN     NaN     NaN
19    peso    NaN     NaN     NaN
20     NaN  simon   67.90  112.37
21     NaN  jacob   66.78  120.67
22     NaN  cindy   66.49  127.45
23     NaN   ivan   67.62  114.14

2 - Limpiamos los datos para quedarnos con aquellos que no son nulos y columnas que no nos sirven:

   nombre  altura    peso
6   simon   67.90  112.37
7   jacob   66.78  120.67
8   cindy   66.49  127.45
9    ivan   67.62  114.14
13  simon   67.90  112.37
14  jacob   66.78  120.67
15  cindy   66.49  127.45
16   ivan   67.62  114.14
20  simon   67.90  112.37
21  jacob   66.78  120.67
22  cindy   66.49  127.45
23   ivan   67.62  114.14

3 - Las alturas y pesos están en pulgadas y libras. Convertidlos a Kg y mm
        Una pulgada son 0.0254 metros
        Una libra son 0.4539237 Kg
    Redondead a dos decimales

   nombre    altura       peso
6   simon  172.4660  51.007406
7   jacob  169.6212  54.774973
8   cindy  168.8846  57.852576
9    ivan  171.7548  51.810851
13  simon  172.4660  51.007406
14  jacob  169.6212  54.774973
15  cindy  168.8846  57.852576
16   ivan  171.7548  51.810851
20  simon  172.4660  51.007406
21  jacob  169.6212  54.774973
22  cindy  168.8846  57.852576
23   ivan  171.7548  51.810851